# Your Wi-Fi SSID and password
wifi_ssid: "YOUR_SSID_1"
wifi_password: "YOUR_PASSWORD_WIFI_1"

# Backup WiFi network if available
wifi_ssidc: "YOUR_SSID_2"
wifi_passwordc: "YOUR_PASSWORD_WIFI_2"

web_server_username: "YOUR_USERNAME_ESPHOME"
web_server_password: "YOUR_PASSWORD_ESPHOME"

ota_password: "YOUR_PASSWORD_OTA"
api_key: "YOUR_PASSWORD_API_KEY"